* {
    padding: 0;
    margin: 0;
}

body {
    /* Set "my-sec-counter" to 0 */
    counter-reset: section;
}


.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 4rem;
    background: url('./assets/background-stars.svg') center;
    background-color: #070722;
    background-size: contain;
}