.planet__info {
    margin-top: 100px;
    padding: 0px 2rem;
    color: white;
    font-family: 'Spartan',sans-serif;
}

.planet__name {
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: 'Antonio', sans-serif;
    text-transform: uppercase;
}

.planet__content {
    width: 70%;
    margin-bottom: 25px;
    font-size: .9em;
    line-height: 25px;
    color: hsla(0,0%,100%,0.75);
}

.planet__info > .row > .col-lg-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.planet__info > .row > .col-lg-6:last-child {
    justify-content: flex-start;
    align-items: flex-start;
}

.planet-img {
    width: 400px;
    height: 400px;
}

.geology__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.planet-img-geology {
    position: absolute;
    top: 60%;
    width: 163px;
    height: 200px;
}

.source > span {
    font-size: .8em;
}

.source__link {
    text-decoration: underline;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 25px;
    color: rgb(131, 131, 145);
}

.general__info {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.general__info > .item {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem 3.5rem 1.5rem 1rem;
    border: 1px solid rgb(180, 178, 178, 0.50);
}

.general__info > .item > h4 {
    font-weight: bold;
    font-size: .7rem;
    text-transform: uppercase;
    color: hsl(240,6%,54%);
}

.general__info > .item > p {
    font-size: 2rem;
    font-family: 'Antonio', sans-serif;
    letter-spacing: -0.056rem;
    margin-bottom: 0px;
}

@media screen and (max-width: 992px) {

    .planet__info > .row > .col-lg-6:last-child {
        align-items: center;
        justify-content: center;
        margin-top: 150px;
        text-align: center;
    }

    .planet__content {
        width: 100%;
    }

    .planet-img {
        width: 250px;
        height: 250px;
    }

    .general__info {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .general__info > .item {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 0.5rem 1rem;
    }

    .general__info > .item > h4 {
        margin-bottom: 0px;
    }
}

